{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="large-6 columns" style="border-right:1px solid #CECECE;">Categorías: 38</div>
    <div class="large-6 columns">Contactos: 100</div>
</div>
{% endblock %}