.placeholder{
    border-radius:5px;
}

.top-bar,.top-bar-section li:not(.has-form) a:not(.button){
    background:#fff !important;
    border:0px !important;
    box-sizing: border-box !important;
    color: #999 !important;
    padding: 0.1875rem 1rem !important;
    font-size:0.875rem !important;
}

.th {
    border: 4px solid #ffffff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    line-height: 0;
    max-width: 100%;
    transition: all 200ms ease-out 0s;
    margin-bottom:50px;
}

.gallery-item-checkbox{
    float:left;
    position:absolute;
    -ms-transform: scale(1.2); /* IE */
    -moz-transform: scale(1.2); /* FF */
    -webkit-transform: scale(1.2); /* Safari and Chrome */
    -o-transform: scale(1.2); /* Opera */
    padding: 10px;
    margin:10px;
}