{% extends 'base.html.twig' %}

{% block body %}
    {% if letter == 'success' %}
        <div class="alert-box success radius" data-alert="">
            <strong>¡Éxito!</strong> el vencimiento se ha editado correctamente.
            <a class="close" href="#">×</a>
        </div>
    {% endif %}
    <form action="#" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
    </form>
{% endblock %}
